select 
	city_id,
	city,
	country_id,
	last_update
from city t
where
	1=1
	#if($model.city_id) and t.city_id = :city_id #end
	#if($model.city) and t.city = :city #end
	#if($model.country_id) and t.country_id = :country_id #end
order by last_update desc